version: '3.8'

services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: naamaz56@cs.colman.ac.il
      POSTGRES_PASSWORD: Zvi199612-
      POSTGRES_DB: inventory-system
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
